//primary colors
$BrainFlix-blue: #0095ff;
$BrainFlix-black: #323232;
$silver: #afafaf;
$white: #ffffff;

//secondary colors
$BrainFlix-darkBlue: #0065ad;
$BrainFlix-darkBlack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

//breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
